body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1E2A38; /* Blue-grey */
    color: #FFA500; /* Bright orange */
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #FFA500; /* Bright orange */
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #1E2A38; /* Blue-grey */
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 10px;
}

section#about, section#features, section#disclaimer {
    background-color: #f4f4f4;
    border-radius: 5px;
}

footer {
    background-color: #1E2A38; /* Blue-grey */
    color: #FFA500; /* Bright orange */
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
